@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    max-width: 2600px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;

    background-image: url('./assets/Banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.bg-1{
    background-image: url('./assets/home-bg-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}









.glob-spin {
    animation: spin 60s linear infinite;

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.circle-spin {
    animation: s 200s linear infinite;

}

@keyframes s {
    100% {
        transform: rotate(-360deg);
    }
}